[Unit]
Description=SmartBoard update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/smartboard-update
TimeoutStartSec=30min
